/* Styling the container */
.selector-container {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    background-color: #fff;
    /* border-radius: 0px; */
    padding: 10px 0;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  }
  
  /* Individual selectors */
  .selector {
    flex: 1;
    text-align: center;
    /* padding: 10px; */
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #999;
    /* transition: color 0.3s ease-in-out; */
    border-bottom: 5px solid transparent;
  }
  
  /* Active selector */
  .selector.active {
    color: #ff6f61;
    border-color: #ff6f61;
  }
  